<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>513777108055-ind4gmsdvjsh7g70cdrv7hi096faslso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513777108055-ind4gmsdvjsh7g70cdrv7hi096faslso</string>
	<key>API_KEY</key>
	<string>AIzaSyBtqDSJEAF5e9pWDwck5UUX4hdxhv49lFk</string>
	<key>GCM_SENDER_ID</key>
	<string>513777108055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Geecon.VenusApp</string>
	<key>PROJECT_ID</key>
	<string>venusapp-bd563</string>
	<key>STORAGE_BUCKET</key>
	<string>venusapp-bd563.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513777108055:ios:451852e93da65422</string>
	<key>DATABASE_URL</key>
	<string>https://venusapp-bd563.firebaseio.com</string>
    
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>Venus App</string>
            </array>
        </dict>
    </array>
    <key>FacebookAppID</key>
    <string>2187499757968252</string>
    <key>FacebookDisplayName</key>
    <string>Venus App</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>
</dict>
</plist>
